:root {
  --bg-color: #121213;
  --kb-color: #818384;
  --incorrect: #3a3a3c;
  --green: #6aaa64;
  --darkendGreen: #538d4e;
  --yellow: #c9b458;
  --darkendYellow: #b59f3b;
  --spellingBeeYellow: #f7da21;
  --lightGray: #d3d6da;
  --gray: #86888a;
  --gray-2: #dcdcdc;
  --gray-3: #dfdfdf;
  --gray-4: #cccccc;
  --darkGray: #939598;
  --white: #fff;
  --black: #212121;
  --black-2: #121212;
  --black-3: #363636;
  --black-4: #cfcfcf;
  --blue-2: #477aaa;
  --orange: #f5793a;
  --blue: #85c0f9;
  --outlineBlue: #2671dc;
  --linkBlue: #477aaa;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
}
body {
  background-color: var(--bg-color);
}
h1 {
  text-align: center;
  color: var(--white);
}

hr {
  width: 30%;
  height: 2px;
  margin-bottom: 20px;
  margin-top: -18px;
  border-width: 0;
  color: var(--incorrect);
  background-color: var(--incorrect);
}

#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.letter-box {
  border: 2px solid var(--incorrect);
  border-radius: 0px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 750;
  color: var(--white);
  height: 2.8rem;
  width: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.filled-box {
  border: 2px solid var(--incorrect);
}

.letter-row {
  display: flex;
}

#keyboard-cont {
  margin: 0.6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyboard-cont div {
  display: flex;
}

.second-row {
  margin: 0.5rem 0;
}

.keyboard-button {
  background-color: var(--kb-color);
  color: var(--white);
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: 550;
  padding: 0.5rem;
  margin: 0 3px;
  cursor: pointer;
  height: 3.5rem;
  width: 30px;
  text-transform: uppercase;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#text {
  position: absolute;
  top: 20%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#text-row-1 {
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 50px;
  color: var(--white);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#text-row-2 {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 50px;
  color: var(--white);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#text-row-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: var(--white);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#text-row-4 {
  position: absolute;
  top: 60%;
  left: 50%;
  font-size: 50px;
  color: var(--white);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#text-row-5 {
  position: absolute;
  top: 70%;
  left: 50%;
  font-size: 50px;
  color: var(--white);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#text-row-6 {
  position: absolute;
  top: 80%;
  left: 50%;
  font-size: 50px;
  color: var(--white);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.third-row .keyboard-button:nth-child(1),
.third-row .keyboard-button:nth-child(9) {
  width: 18%;
}
